@model IEnumerable<SportNews.Models.MatchInfoModel>
@{
    ViewBag.Title = "Wc2018Info";
}

<h2>World cup 2018 Info</h2>
<div>
    <ul class="nav nav-pills nav-justified">
        <li class="active"><a id="match-tab" href="#match" data-toggle="tab" aria-controls="match">MATCHES</a></li>
        <li><a id="news-tab" href="#news" data-toggle="tab" aria-controls="news">NEWS</a></li>
        <li><a cid="standing-tab" href="#standing" data-toggle="tab" aria-controls="standing">STANDING</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="match" role="tabpanel" aria-labelledby="match-tab">
            <hr />
            @*@Html.Partial("~/views/home/_matchinfo18.cshtml", Model)*@
        </div>
        <div class="tab-pane" id="news" role="tabpanel" aria-labelledby="news-tab">
            b...
        </div>
        <div class="tab-pane" id="standing" role="tabpanel" aria-labelledby="standing-tab">

        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $.ajax({
            url: '/Home/MatchInfo18',
            type: 'GET',
            async: false,
            dataType: 'html',
            success: function (data) {
                $('#match').html(data);
                //e.target;
                //e.relatedTarget;
            }
        });
        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
            var tabName = $(e.target).text(); //Get the name of the tab.

            if (tabName == 'MATCHES') {
                $.ajax({
                    url: '/Home/MatchInfo18',
                    type: 'GET',
                    async: false,
                    dataType: 'html',
                    success: function (data) {
                        $('#match').html(data);
                        //e.target;
                        //e.relatedTarget;
                    }
                });
            }
            else if (tabName == 'STANDING') {
                $.ajax({
                    url: '/Home/Standing18',
                    type: 'GET',
                    async: false,
                    dataType: 'html',
                    success: function (data) {
                        $('#standing').html(data);
                        //e.target;
                        //e.relatedTarget;
                    }
                });
            }
        });
    });
</script>
