@model SportNews.Models.newslist
@{
    ViewBag.Title = "News Board";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.ctLst != null)
{
    <hr />
    <div class="panel panel-primary">
        <div class="panel-heading">
            News Board
        </div>
        <div class="panel-body" id="pbd">
            @*<div class="panel panel-default">
                <div class="panel-body">*@
            <div class="row">
                @foreach (var dat in Model.ctLst)
                {
                    <div class="col-md-12 col-sm-12">
                        <div class="featured-side">
                            <div class="featured-side-item" id="@dat.news_id">
                                <div class="cl">&nbsp;</div>
                                <a class="lnkfe">
                                    <img src="@dat.imageLnk" alt="image link" border="0">
                                </a>
                                <h4>@dat.title</h4>
                                <div class="cl">&nbsp;</div>

                            </div>
                        </div>
                    </div>
                }
            </div>
            @*</div>
                </div>*@
        </div>
    </div>
}

<style>
    .featured-side {
        width: 260px;
        padding-left: 6px;
        float: left;
    }

    .featured-side-item {
        padding-right: 5px;
        padding-bottom: 10px;
    }

        .featured-side-item img {
            border: 1px solid #000;
            margin-right: 3px;
        }

        .featured-side-item h4, .featured-side-item h4 a {
            font-size: 12px;
            color: #9fea00;
            padding-top: 4px;
        }

        .featured-side-item p {
            color: #c9c9c9;
            font-size: 10px;
        }

    .cl {
        font-size: 0;
        line-height: 0;
        height: 0;
        clear: both;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('.lnkfe').click(function (e) {
            e.preventDefault();
            $.ajax({
                url: '/Home/NewsDetail',
                type: 'GET',
                async: false,
                dataType: 'html',
                data: {
                    id: $(this).closest('div').attr('id')
                },
                success: function (data) {
                    $('#ndt').html(data);
                    //e.target;
                    //e.relatedTarget;
                }
            });
            return false;
        }
        );

    });
</script>

